table{
  height: 10vh;
  width: 80vw;
  color: black;
  border: 1px solid black;
}
th{
  height: 10vh;
  width: 80vw;
  border: 1px solid black;
  color: black;
  background-color: skyblue;
}
tr,td{
  height: 10vh;
  width: 90vw;
  border: 1px solid black;
  color: black;
}